.burgerMain {
    max-width: 10%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.create-form {
    margin-top: 15px;
}
.devoured {
    display: grid;
    grid-template-columns: 80% 20%;
}
