body {
    background-color: black;
}
h1 {
    color: white;
}
.burgerMain {
    max-width: 10%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.create-form {
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
}
.devoured {
    display: grid;
    grid-template-columns: 80% 20%;
}
